# --- Sorties et fichiers générés ---
scalers/
images/

performance/*
!performance/recap_scores_globaux.csv

Slides/*
!Slides/slide 12_05_26/*.tex
!Slides/slide 22_05_26/*.tex
!Slides/slide 10_06_26/*.tex
Slides/*.png

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

DataSet/pca.py
debug_dl.py

DataSet/2/*
.vscode/
.idea/
.DS_Store

DataSet/Final_DS/*
*.zip
FatTraining/performance/*
preprocess.py
test.py
FatTraining.py