\Rapport\*.aux
\Rapport\*.bcf
\Rapport\*.fdb_latexmk
\Rapport\*.fls
\Rapport\*.log
\Rapport\*.nav
\Rapport\*.out
\Rapport\*.pdf
\Rapport\*.pdf
\Rapport\*.snm
\Rapport\*.gz
\Rapport\*.toc
\Rapport\*.vrb