# Ne garder que slides.tex et loadslides.tex
\Rapport\*.aux
\Rapport\*.bcf
\Rapport\*.fdb_latexmk
\Rapport\*.fls
\Rapport\*.log
\Rapport\*.nav
\Rapport\*.out
\Rapport\*.pdf
\Rapport\*.pdf
\Rapport\*.snm
\Rapport\*.gz
\Rapport\*.toc
\Rapport\*.vrb

# --- Sorties et fichiers générés ---
scalers/
images/
performance/*

!performance/recap_scores_globaux.csv

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env


.vscode/
.idea/
.DS_Store
